{% extends "bootstrap/base.html" %}
{% block title %}Easy Equipment{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                {#                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">#}
                {#                    <span class="sr-only">Toggle Navigation</span>#}
                {#                    <span class="icon-bar"></span>#}
                {#                    <span class="icon-bar"></span>#}
                {#                    <span class="icon-bar"></span>#}
                {#                </button>#}
                <a class="navbar-brand" href="/">Easy Equipment</a>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/borrow_equipment">Borrow</a></li>
                        <li><a href="/return_equipment">Return</a></li>
                        <li><a href="/admin">Admin Only</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}