{% extends "base.html" %}
{% block page_content %}
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="/borrow_equipment">Borrow</a></li>
            <li><a href="/return_equipment">Return</a></li>
            {% if current_user.is_admin %}
                <li><a href="/admin">Manage</a></li>
            {% endif %}
        </ul>
        {% for record in records %}
            <li>{{ record.equipment }}</li>
        {% endfor %}
    </div>
{% endblock %}